html, body, div, span, applet, object, iframe,
h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
  font-family: Verdana, Tahoma, sans-serif !important;
  font-size: 16px;
}
  
.main {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.main-pic {
    width: 60vw;
}

ul {
    width: 60vw;
}

li {
    text-align: left;
    align-items: left;    
}

.quote {
    font-style: italic;
    margin-bottom: 2px;
}

.centered {
    text-align: center;
}

p {
    padding-bottom: 20px;
    width: 60vw;
    text-align: left;
}

a {
    padding-bottom: 20px;
    width: 60vw;
    text-align: left;
}

a:link {
    color: silver;
}
  
a:visited {
    color: darkgray;
}
  
img {
    width: 80vw;
}

.page-edge {
    width: 60vw;
}

.bottom-nav {
    width: 60vw; 
    padding-bottom: 3vh;
}

.bottom-nav .top-of-page {
    float: right;
}

.bottom-nav .go-back {
    float: left;
}

@media all and (max-width: 480px) {
    p {
        width: 90vw;
    }

    a {
        width: 90vw;
    }

    .quotes {
        width: 90vw;
    }

    .page-edge {
        width: 90vw;
    }

    ul {
        width: 80vw;
    }

    .main-pic {
        width: 100vw;
    }

    .bottom-nav {
        width: 90vw; 
    }
}

  